## Extracting Top Changed Genes 

Here, we sort the top changed genes between week 1 and week 6 per cluster. The genes are then extracted into a csv file for future use if neeeded. For example, we pick out the top 29 genes for CD56 Dim NK cells based on their mean difference between week 1 and week 6.

In [1]:
import pandas as pd
import numpy as np
import scanpy as sc
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import linear_model

In [2]:
all_genes = pd.read_csv('all_genes.csv')

In [3]:
genes = all_genes[all_genes.leiden == 'CD16+ Monocytes']

In [4]:
genes.shape

(2968, 3003)

#### Creating mean calculations for each time point.

In [5]:
genes.loc['mean_t0'] = genes[genes.Time == 1].mean()
genes.loc['mean_t1'] = genes[genes.Time == 2].mean()
genes.loc['mean_t2'] = genes[genes.Time == 3].mean()

C:\Users\crtuser\anaconda3\envs\scanpy\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\crtuser\anaconda3\envs\scanpy\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\crtuser\anaconda3\envs\scanpy\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [6]:
genes.drop(columns=genes.columns[0], axis=1, inplace=True)

C:\Users\crtuser\anaconda3\envs\scanpy\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [7]:
genes.loc['diff'] = abs(genes.loc['mean_t0'] - genes.loc['mean_t2'])

In [8]:
genes.iloc[-1:]

,HES4,ISG15,AL645608.2,TNFRSF18,TNFRSF4,MMP23B,CALML6,PLCH2,PRDM16,CCDC27,...,AIRE,KRTAP12-3,COL6A2,FTCD,PCNT,DIP2A,S100B,AC233755.2,Time,leiden
diff,0.784649,0.096617,0.0,0.006469,0.021443,0.023628,0.010985,0.022998,3.469447e-18,0.0,...,0.0,8.673617e-19,0.002705,0.011,0.078461,0.097196,0.026032,3.469447e-18,2.0,NaN

In [12]:
genes.sort_values(by = ['diff'], axis = 1, inplace=True)

In [13]:
genes.tail()

,AC007619.1,FAM9B,ACE2,OSBPL6,AC019080.4,AC096649.1,GABRG3,IGHV1-69,KLHL41,IGHV3-49,...,CCR1,MEG3,C3AR1,CKB,LYPD2,SAMSN1,RASGEF1B,C5AR2,Time,leiden
74120,-0.0174026,-0.0155403,-0.00945945,-0.0218095,-0.0253368,-0.0136748,-0.00794873,-0.0122509,-0.00870811,-0.0166764,...,-0.318619,-0.0758231,2.44843,3.70508,-0.0969112,3.58347,1.31759,9.91657,3,CD16+ Monocytes
mean_t0,-0.0174026,-0.0155403,-0.00945945,-0.0218095,-0.0253368,-0.0136748,-0.00794873,-0.0122509,-0.00870811,-0.0166764,...,0.28581,0.626882,1.36653,1.70077,1.18286,0.617945,0.91017,1.09229,1,NaN
mean_t1,-0.0174026,0.00451082,-0.00945945,-0.0218095,-0.0253368,-0.0136748,-0.00794873,-0.0122509,-0.00870811,-0.0166764,...,0.449221,1.10367,2.04539,2.56155,2.02086,0.567568,0.660191,1.44538,2,NaN
mean_t2,-0.0174026,-0.0155403,-0.00945945,-0.0218095,-0.0253368,-0.0136748,-0.00794873,-0.0122509,-0.00870811,-0.0166764,...,1.1099,1.47128,2.21265,2.72883,2.25903,1.70948,2.04822,2.29523,3,NaN
diff,0,0,0,0,0,0,0,0,0,0,...,0.82409,0.844398,0.846126,1.02806,1.07616,1.09153,1.13805,1.20294,2,NaN

In [14]:
genes = genes.iloc[-4:, -31:]

In [15]:
genes.to_csv('CD16+ Monocytes.csv')