## Exploring the Difference between T-Test and Wilcoxon Methods for the Scanpy rank genes method

https://scanpy.readthedocs.io/en/stable/generated/scanpy.tl.rank_genes_groups.html 
    
The data here are genes with p-values obtained from using the t-test and the wilcoxon test. T-Test has a high false positive rate as it returns 6964 genes in comparison to 2656 genes using Wilcoxon.

It is important to recognise that these methods will affect all downstream analysis such as pathway.

In [1]:
import scanpy as sc
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import rc_context
import plotly.express as px

In [2]:
df1 = pd.read_excel('t-test wilcoxon.xlsx')

In [3]:
df1.tail()

     t_test_genes   p_value wilcoxon_genes  p_value.1
6959        EXOC5  0.049619            NaN        NaN
6960   AC011468.5  0.049764            NaN        NaN
6961   AL138966.2  0.049785            NaN        NaN
6962        IFIT3  0.049914            NaN        NaN
6963        FUCA2  0.049953            NaN        NaN

In [4]:
df1.t_test_genes.value_counts()

FAM71D      1
CLK2        1
TMED1       1
SAMMSON     1
CENPB       1
           ..
TBC1D10B    1
C1orf52     1
FNBP1       1
SAYSD1      1
NOL4L       1
Name: t_test_genes, Length: 6964, dtype: int64

In [5]:
df1.wilcoxon_genes.value_counts()

PSD4          1
TSPAN5        1
ATP2B4        1
PHLDB2        1
RCN2          1
             ..
CARNS1        1
AC022706.1    1
SERTAD3       1
TBX21         1
NOL4L         1
Name: wilcoxon_genes, Length: 2656, dtype: int64